<main>
  <h1>
    Hello!
    <i class='bi bi-emoji-smile'></i>
    <i
      class='fa-brands fa-slack fa-beat fa-lg'
      style='color: #e36816;'
    ></i>
  </h1>


  {{> title data="My title"}}


  <h1 style="background: yellow; color: black">This is text</h1>
 
  
  {{!-- inline-стилі  мають найбільший пріоритет, 
  не перезаписуються навіть якщо далі буде 
  інший стиль --}}

</main>
