<main>
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>3 title one two</h3>

  <hr />

  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-4'>Second</div>
  <div class='display-6'>3 title</div>

  <hr />

  <span class='text-muted text-end'>Додатковий текст. Span -
    не перемістиш по ширині рядка</span>
  <div class='text-muted text-end'>Додатковий
    <span class='display-6'>текст</span>. div - перемістиш</div>

  <hr />

  <button class='btn btn-primary'>
    <span class='text-uppercase text-danger'>Button primary</span>
    <h1>Test</h1>
  </button>

  <button class='btn btn-secondary'>
    <span class='text-uppercase text-warning'>Button primary</span>
  </button>

  <a href='#' class='btn btn-primary'>
    Button primary - основна кнопка
  </a>

  <hr />

  <p class='text-primary'>My text primary</p>
  <p class='text-danger'>My text danger</p>
  <p class='text-dark'>My text dark</p>
  <p class='text-muted'>My text muted</p>

  <hr />

  <button class='btn btn-outline-primary'>My button -
    Основна, але менш важлива кнопка</button>

  <hr />

  <button class='btn btn-secondary btn-lg'>Додати</button>
  <button
    class='btn btn-outline-secondary'
  >Редагувати</button>
  <button
    class='btn btn-outline-danger btn-sm'
  >Видалити</button>

  <hr />

  <div class='card'>
    <div class='card-body'>
      <button
        class='btn btn-secondary btn-lg'
      >Додати</button>
      <button
        class='btn btn-outline-secondary'
      >Редагувати</button>
      <button
        class='btn btn-outline-danger btn-sm'
      >Видалити</button>
    </div>
  </div>
  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      This is content (with class='card-body')
    </div>
  </div>
  <br />
  <br />

  <div class='card'>
    <div>
      This is content (without class='card-body')
    </div>
  </div>

</main>