<main>
  <div class='row'>
    <div class='m-3'>
      {{#with pages}}
        <h2>{{title}}</h2>
        <p class='my-5'>{{description}}</p>

        {{#each list}}
          <a
            class='btn btn-primary text-capitalize mb-2'
            href='{{href}}'
            target='_blank'
          >{{name}}</a>
          <br />
        {{/each}}

      {{/with}}
    </div>
  </div>
</main>